html {
    background-image: url("./assets/img/bgweb-codecows.jpg") ;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    -moz-background-size:cover; 
    -webkit-background-size:cover; 
    -o-background-size: cover;
    background-size:cover;
    overflow-x: hidden;
}

body { 
   overflow-x: hidden ;
   margin: 0;
   width: 100%;
}

main {
    display:flex;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    width: 100%; 
}

header {
    background-color: #c2c2c2a8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
    padding: 0;
 
    width: 100%;
}

.codecows_info {
    display:flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.members {
    background-color: #c2c2c2a8;
    display:flex;
    margin:auto;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    width:100%;
}

.bg_color_logos {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #585858;
    width:100%;
}

footer {
    padding: 2%;
    background-attachment: bottom;
    background-color: #a3a3a3a4;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width:1030px) {

    header {
        margin-bottom: 3%;
        padding: 2% !important;
    }

    #logo_codecows {
        width: 9vw;
    }
 
    h1 {
        font-size: 2.3em;
        margin:3%;
    }

    h2 {
        font-size: 1.5em;
        margin:0;
    }

    .members {
        padding:2%;
    }

    .members-images {
        width:80vw;
        display:flex;
        margin:auto;
        justify-content: center;
        text-align: center;
    }

    .imagen {
        display:flex;
        margin:auto;
        flex-flow: row wrap;
        width:28vw;
        margin: 1.5vw;
    }

    .bg_color_logos {
        height: 5vw;
        padding:2%;  
        margin-top: 3%;
    }

    .tool_logos img {     
        height: 7vw; 
    }

    footer {  
        margin-top: 3%;
        background-attachment: bottom;
        padding: 2%;
        display:flex;
        justify-content: center;
        align-items: center;
    }

    .copyright {
        height: 4vw;
    }

    h3 {
        font-size: 1.8vw;
        margin:0;
    }
}

@media only screen and (max-width:1029px) {

    header {
        margin-bottom: 5%;
        padding: 4% 0% !important;
        width:100%;
    }

    #logo_codecows {
        height: 12vw;
    }

    h1 {
        font-size: 2.8vw ;
        margin:3%;
    }

    h2 {
        font-size: 2.5vw;
        margin:0;
    }

    .members {
        padding:5% 0%;  
    }

    .members-images {
        display:flex;
        flex-flow: column;
        justify-content: center;
        max-width:80vw;
    }

    .imagen { 
          width: 75vw;
          margin: 1.5vw;
    }

    .bg_color_logos {
        width:100%;
        height: 10vw;
        padding:2%;  
        margin-top: 5%;
    }

    .tool_logos img {
        height: 12vw;
    }

    footer {
        margin-top: 5%;
        width:100%;
    }

    h3 {
        font-size: 3vw;
        margin:0;
    }
}

@media only screen and (max-width:569px) {

    header {
        margin-bottom: 5%;
        padding: 4% 0% !important;
        width:100%;
    }
    #logo_codecows {
        height:12vw;
    }

    h1 {
        font-size: 3vw ;
        margin:3%;
    }

    h2 {
        font-size: 2.9vw;
        margin:0;
    }
}

