html{ 
   background-image:url("https://i.ibb.co/PYBmgQD/fondo-web-codecows.jpg");
   margin:0px;
   padding: 0px;
}
.bg_color_header{
    background-color: #c2c2c2;
    height: 280px;
    width: 2900px;
}
.encabezado{
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: 1350px;
}
.bg_color_main{
    background-color: #c2c2c2;
    height: 1000px;
    width: 2900px;
}
.imagen{
    justify-content:center;
    align-items: center;
    height: 800px;
    margin: 50px 800px 50px 800px;
   
 
}
.bg_color_logos{
    background-color: #939393;
    height: 130px;
    width: 2850px;
    padding: 0px 25px 25px 25px;  
    text-align: center;    
}
.bg_color_footer{
    background-color: #a3a3a3;
    height: 70px;
    width: 2900px;
}
.footer{
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: 1350px;
    padding-top: 10px;
}


